body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    font-weight: 800;
    text-decoration: underline;
}

.list{
    margin-top: 20px;
}

#invalid{
    display: none;
    color: #a31717;
}