.form {
    border-radius: 3px;
    padding: 1em 2em 1em;
    background-color: rgb(0, 130, 50);
    box-shadow: 5px 10px rgb(17, 63, 29);
}

input{
    width: 100%;
    line-height: 16px;
    margin: 10px 0;

    &[type=submit]{
        padding: 0.5em 10em;
        font-weight: 700;
        border: none;
        box-shadow: 5px 5px 5px #10570a;
        background: rgb(16,87,10);
        background: linear-gradient(90deg, rgba(16,87,10,1) 23%, rgba(112,237,97,1) 64%, rgba(97,237,205,1) 95%);
        border-radius: 5px;

        &:hover{
            box-shadow: none;
        }
    }
}
